In [ ]:
raise SystemExit("Stop right there!")

In [1]:
import requests
import json
import pandas as pd
from IPython.display import clear_output
from time import sleep
import numpy as np

In [2]:
# retrieve my TMDb key
local_file = 'tmdb_key.txt'
with open(local_file, 'r') as api_file:
    my_key = api_file.read().rstrip('\r\n')
    api_file.close()

In [3]:
# set first part of URL for every request
base_url = 'https://api.themoviedb.org/3/'

In [4]:
def make_request(_id, prior_attempts=0):
    """Makes request for movie object in TMDb database and returns it as JSON"""
    if prior_attempts == 3:
        return {}
    url = base_url + 'movie/' + str(_id) + '?api_key=' + my_key + '&append_to_response=credits,reviews'
    response = requests.get(url)
    # entry not found
    if response.status_code == 404:
        return {}
    # exceed rate limit
    if response.status_code == 429:
        sleep(10)
        return make_request(_id=_id)
    # success
    if response.status_code == 200:
        return response.json()
    else:
        sleep(1)
        return make_request(_id=_id, prior_attempts=prior_attempts + 1)

In [5]:
def get_movies(num):
    """Makes 100,000 requests for movie objects in TMDb database and stores them in a list of JSON's"""
    movies_list = []
    for val in range(num - 99999, num + 1):
        print(val)
        clear_output(wait=True)
        movies_list.append(make_request(_id=val))
    return movies_list

In [6]:
df = pd.DataFrame(get_movies(num=100000))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  70692 non-null  object
 1   backdrop_path          26073 non-null  object
 2   belongs_to_collection  6440 non-null   object
 3   budget                 70692 non-null  float64
 4   genres                 70692 non-null  object
 5   homepage               67860 non-null  object
 6   id                     70692 non-null  float64
 7   imdb_id                70692 non-null  object
 8   original_language      70692 non-null  object
 9   original_title         70692 non-null  object
 10  overview               70692 non-null  object
 11  popularity             70692 non-null  float64
 12  poster_path            48241 non-null  object
 13  production_companies   70692 non-null  object
 14  production_countries   70692 non-null  object
 15  release_date           70692 non-null  object
 16  revenue                70692 non-null  float64
 17  runtime                69733 non-null  float64
 18  spoken_languages       70692 non-null  object
 19  status                 70692 non-null  object
 20  tagline                70692 non-null  object
 21  title                  70692 non-null  object
 22  video                  70692 non-null  object
 23  vote_average           70692 non-null  float64
 24  vote_count             70692 non-null  float64
 25  credits                70692 non-null  object
 26  reviews                70692 non-null  object
dtypes: float64(7), object(20)
memory usage: 20.6+ MB

In [7]:
#df.to_json('tmdb_movies_100k.json')

In [8]:
df_100k = pd.read_json('tmdb_movies_100k.json')
df_100k.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  70692 non-null  float64
 1   backdrop_path          26073 non-null  object
 2   belongs_to_collection  6440 non-null   object
 3   budget                 70692 non-null  float64
 4   genres                 70692 non-null  object
 5   homepage               67860 non-null  object
 6   id                     70692 non-null  float64
 7   imdb_id                70692 non-null  object
 8   original_language      70692 non-null  object
 9   original_title         70692 non-null  object
 10  overview               70692 non-null  object
 11  popularity             70692 non-null  float64
 12  poster_path            48241 non-null  object
 13  production_companies   70692 non-null  object
 14  production_countries   70692 non-null  object
 15  release_date           70692 non-null  object
 16  revenue                70692 non-null  float64
 17  runtime                69733 non-null  float64
 18  spoken_languages       70692 non-null  object
 19  status                 70692 non-null  object
 20  tagline                70692 non-null  object
 21  title                  70692 non-null  object
 22  video                  70692 non-null  float64
 23  vote_average           70692 non-null  float64
 24  vote_count             70692 non-null  float64
 25  credits                70692 non-null  object
 26  reviews                70692 non-null  object
dtypes: float64(9), object(18)
memory usage: 21.4+ MB

In [9]:
df_100k.head().transpose()

,0,1,2,3,4
adult,NaN,0,0,NaN,0
backdrop_path,None,/kpuTCMw3v2AuKjqGS7383uWbc8V.jpg,/jMmHFm0TcjiN9QDICXY2tJcQsDl.jpg,None,/xvjGhJHsArVjCWXb5OARi0PiqvB.jpg
belongs_to_collection,None,None,None,None,None
budget,NaN,0,0,NaN,4e+06
genres,None,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...","[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",None,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name..."
homepage,None,,,None,
id,NaN,2,3,NaN,5
imdb_id,None,tt0094675,tt0092149,None,tt0113101
original_language,None,fi,fi,None,en
original_title,None,Ariel,Varjoja paratiisissa,None,Four Rooms
overview,None,Taisto Kasurinen is a Finnish coal miner whose...,"An episode in the life of Nikander, a garbage ...",None,It's Ted the Bellhop's first night on the job....
popularity,NaN,8.098,7.568,NaN,13.532
poster_path,None,/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg,/nj01hspawPof0mJmlgfjuLyJuRN.jpg,None,/xhU6hPDnk4s8iWWKoq4oEmNI600.jpg
production_companies,None,"[{'id': 2303, 'logo_path': None, 'name': 'Vill...","[{'id': 2303, 'logo_path': None, 'name': 'Vill...",None,"[{'id': 14, 'logo_path': '/m6AHu84oZQxvq7n1rsv..."
production_countries,None,"[{'iso_3166_1': 'FI', 'name': 'Finland'}]","[{'iso_3166_1': 'FI', 'name': 'Finland'}]",None,"[{'iso_3166_1': 'US', 'name': 'United States o..."
release_date,None,1988-10-21,1986-10-17,None,1995-12-09
revenue,NaN,0,0,NaN,4.25735e+06
runtime,NaN,73,72,NaN,98
spoken_languages,None,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...","[{'iso_639_1': 'sv', 'name': 'svenska'}, {'iso...",None,"[{'iso_639_1': 'en', 'name': 'English'}]"
status,None,Released,Released,None,Released
tagline,None,,,None,Twelve outrageous guests. Four scandalous requ...
title,None,Ariel,Shadows in Paradise,None,Four Rooms
video,NaN,0,0,NaN,0
vote_average,NaN,6.8,7.4,NaN,6
vote_count,NaN,100,106,NaN,1561
credits,None,"{'cast': [{'cast_id': 3, 'character': 'Taisto ...","{'cast': [{'cast_id': 5, 'character': 'Nikande...",None,"{'cast': [{'cast_id': 42, 'character': 'Ted th..."
reviews,None,"{'page': 1, 'results': [], 'total_pages': 0, '...","{'page': 1, 'results': [{'author': 'CRCulver',...",None,"{'page': 1, 'results': [], 'total_pages': 0, '..."

In [10]:
df_100k.tail()

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,credits,reviews
99995,NaN,None,None,NaN,None,None,NaN,None,None,None,...,NaN,None,None,None,None,NaN,NaN,NaN,None,None
99996,0.0,/rOIclzR6CpSlgylNsm2gzUC8SyU.jpg,None,0.0,"[{'id': 18, 'name': 'Drama'}]",,99997.0,tt0027196,en,West Point of the Air,...,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Biggest Romantic Thrill Since ""Hell Divers""",West Point of the Air,0.0,7.0,1.0,"{'cast': [{'cast_id': 4, 'character': 'Sgt. 'B...","{'page': 1, 'results': [], 'total_pages': 0, '..."
99997,0.0,None,None,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",,99998.0,tt0032130,en,Wings of the Navy,...,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,FOR ALL THE WORLD TO WITNESS THAT AMERICA WILL...,Wings of the Navy,0.0,7.0,2.0,"{'cast': [{'cast_id': 3, 'character': 'Cass Ha...","{'page': 1, 'results': [], 'total_pages': 0, '..."
99998,0.0,None,None,0.0,"[{'id': 99, 'name': 'Documentary'}, {'id': 36,...",,99999.0,tt0156078,de,Der Sieg des Glaubens,...,61.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,,Victory of the Faith,0.0,6.8,4.0,"{'cast': [{'cast_id': 4, 'character': 'Himself...","{'page': 1, 'results': [], 'total_pages': 0, '..."
99999,NaN,None,None,NaN,None,None,NaN,None,None,None,...,NaN,None,None,None,None,NaN,NaN,NaN,None,None

In [11]:
df = pd.DataFrame(get_movies(num=200000))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  50946 non-null  object
 1   backdrop_path          8936 non-null   object
 2   belongs_to_collection  1868 non-null   object
 3   budget                 50946 non-null  float64
 4   genres                 50946 non-null  object
 5   homepage               45528 non-null  object
 6   id                     50946 non-null  float64
 7   imdb_id                50946 non-null  object
 8   original_language      50946 non-null  object
 9   original_title         50946 non-null  object
 10  overview               50946 non-null  object
 11  popularity             50946 non-null  float64
 12  poster_path            21841 non-null  object
 13  production_companies   50946 non-null  object
 14  production_countries   50946 non-null  object
 15  release_date           50946 non-null  object
 16  revenue                50946 non-null  float64
 17  runtime                49429 non-null  float64
 18  spoken_languages       50946 non-null  object
 19  status                 50946 non-null  object
 20  tagline                50946 non-null  object
 21  title                  50946 non-null  object
 22  video                  50946 non-null  object
 23  vote_average           50946 non-null  float64
 24  vote_count             50946 non-null  float64
 25  credits                50946 non-null  object
 26  reviews                50946 non-null  object
dtypes: float64(7), object(20)
memory usage: 20.6+ MB

In [12]:
#df.to_json('tmdb_movies_200k.json')

In [13]:
df_200k = pd.read_json('tmdb_movies_200k.json')
df_200k.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  50946 non-null  float64
 1   backdrop_path          8936 non-null   object
 2   belongs_to_collection  1868 non-null   object
 3   budget                 50946 non-null  float64
 4   genres                 50946 non-null  object
 5   homepage               45528 non-null  object
 6   id                     50946 non-null  float64
 7   imdb_id                50946 non-null  object
 8   original_language      50946 non-null  object
 9   original_title         50946 non-null  object
 10  overview               50946 non-null  object
 11  popularity             50946 non-null  float64
 12  poster_path            21841 non-null  object
 13  production_companies   50946 non-null  object
 14  production_countries   50946 non-null  object
 15  release_date           50946 non-null  object
 16  revenue                50946 non-null  float64
 17  runtime                49429 non-null  float64
 18  spoken_languages       50946 non-null  object
 19  status                 50946 non-null  object
 20  tagline                50946 non-null  object
 21  title                  50946 non-null  object
 22  video                  50946 non-null  float64
 23  vote_average           50946 non-null  float64
 24  vote_count             50946 non-null  float64
 25  credits                50946 non-null  object
 26  reviews                50946 non-null  object
dtypes: float64(9), object(18)
memory usage: 21.4+ MB

In [14]:
df_200k.head().transpose()

                          0     1     2     3     4
adult                   NaN   NaN   NaN   NaN   NaN
backdrop_path          None  None  None  None  None
belongs_to_collection  None  None  None  None  None
budget                  NaN   NaN   NaN   NaN   NaN
genres                 None  None  None  None  None
homepage               None  None  None  None  None
id                      NaN   NaN   NaN   NaN   NaN
imdb_id                None  None  None  None  None
original_language      None  None  None  None  None
original_title         None  None  None  None  None
overview               None  None  None  None  None
popularity              NaN   NaN   NaN   NaN   NaN
poster_path            None  None  None  None  None
production_companies   None  None  None  None  None
production_countries   None  None  None  None  None
release_date           None  None  None  None  None
revenue                 NaN   NaN   NaN   NaN   NaN
runtime                 NaN   NaN   NaN   NaN   NaN
spoken_languages       None  None  None  None  None
status                 None  None  None  None  None
tagline                None  None  None  None  None
title                  None  None  None  None  None
video                   NaN   NaN   NaN   NaN   NaN
vote_average            NaN   NaN   NaN   NaN   NaN
vote_count              NaN   NaN   NaN   NaN   NaN
credits                None  None  None  None  None
reviews                None  None  None  None  None

In [15]:
df_200k.tail()

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,credits,reviews
99995,NaN,None,None,NaN,None,None,NaN,None,None,None,...,NaN,None,None,None,None,NaN,NaN,NaN,None,None
99996,0.0,None,None,0.0,"[{'id': 18, 'name': 'Drama'}]",,199997.0,tt2609468,hi,सोना Spa,...,102.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}, {'iso_...",Released,You Can Buy Your Sleep Here,Sona Spa,0.0,2.7,3.0,"{'cast': [{'cast_id': 6, 'character': 'Baba', ...","{'page': 1, 'results': [], 'total_pages': 0, '..."
99997,NaN,None,None,NaN,None,None,NaN,None,None,None,...,NaN,None,None,None,None,NaN,NaN,NaN,None,None
99998,0.0,/d28wW9zp01Oibs09TQZkBOEjssc.jpg,None,0.0,"[{'id': 10751, 'name': 'Family'}, {'id': 18, '...",http://www.thehousethatjackbuiltmovie.com/,199999.0,tt2190492,en,The House That Jack Built,...,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,The House That Jack Built,0.0,5.3,4.0,"{'cast': [{'cast_id': 4, 'character': 'Jack', ...","{'page': 1, 'results': [], 'total_pages': 0, '..."
99999,0.0,None,None,0.0,"[{'id': 18, 'name': 'Drama'}]",,200000.0,tt1920925,en,Fish n' Chips,...,102.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,,Fish n' Chips,0.0,5.0,1.0,"{'cast': [], 'crew': [{'credit_id': '57b626759...","{'page': 1, 'results': [], 'total_pages': 0, '..."

In [16]:
df = pd.DataFrame(get_movies(num=300000))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  69297 non-null  object
 1   backdrop_path          8467 non-null   object
 2   belongs_to_collection  1461 non-null   object
 3   budget                 69297 non-null  float64
 4   genres                 69297 non-null  object
 5   homepage               52921 non-null  object
 6   id                     69297 non-null  float64
 7   imdb_id                65044 non-null  object
 8   original_language      69297 non-null  object
 9   original_title         69297 non-null  object
 10  overview               69297 non-null  object
 11  popularity             69297 non-null  float64
 12  poster_path            23897 non-null  object
 13  production_companies   69297 non-null  object
 14  production_countries   69297 non-null  object
 15  release_date           69297 non-null  object
 16  revenue                69297 non-null  float64
 17  runtime                61219 non-null  float64
 18  spoken_languages       69297 non-null  object
 19  status                 69297 non-null  object
 20  tagline                69297 non-null  object
 21  title                  69297 non-null  object
 22  video                  69297 non-null  object
 23  vote_average           69297 non-null  float64
 24  vote_count             69297 non-null  float64
 25  credits                69297 non-null  object
 26  reviews                69297 non-null  object
dtypes: float64(7), object(20)
memory usage: 20.6+ MB

In [17]:
#df.to_json('tmdb_movies_300k.json')

In [18]:
df_300k = pd.read_json('tmdb_movies_300k.json')
df_300k.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  69297 non-null  float64
 1   backdrop_path          8467 non-null   object
 2   belongs_to_collection  1461 non-null   object
 3   budget                 69297 non-null  float64
 4   genres                 69297 non-null  object
 5   homepage               52921 non-null  object
 6   id                     69297 non-null  float64
 7   imdb_id                65044 non-null  object
 8   original_language      69297 non-null  object
 9   original_title         69297 non-null  object
 10  overview               69297 non-null  object
 11  popularity             69297 non-null  float64
 12  poster_path            23897 non-null  object
 13  production_companies   69297 non-null  object
 14  production_countries   69297 non-null  object
 15  release_date           69297 non-null  object
 16  revenue                69297 non-null  float64
 17  runtime                61219 non-null  float64
 18  spoken_languages       69297 non-null  object
 19  status                 69297 non-null  object
 20  tagline                69297 non-null  object
 21  title                  69297 non-null  object
 22  video                  69297 non-null  float64
 23  vote_average           69297 non-null  float64
 24  vote_count             69297 non-null  float64
 25  credits                69297 non-null  object
 26  reviews                69297 non-null  object
dtypes: float64(9), object(18)
memory usage: 21.4+ MB

In [19]:
df_300k.head().transpose()

,0,1,2,3,4
adult,0,0,NaN,NaN,0
backdrop_path,None,None,None,None,None
belongs_to_collection,None,None,None,None,None
budget,0,0,NaN,NaN,0
genres,"[{'id': 99, 'name': 'Documentary'}]","[{'id': 18, 'name': 'Drama'}]",None,None,[]
homepage,,http://www.imdb.com/title/tt0408295/,None,None,http://www.go-betweens.net/discography/2005str...
id,200001,200002,NaN,NaN,200005
imdb_id,tt0856245,tt0408295,None,None,
original_language,de,fr,None,None,en
original_title,Nach Hollywood - Douglas Sirk erzählt,Une place parmi les vivants,None,None,That Striped Sunlight Sound
overview,This 82-minute 1991 documentary by Eckhart Sch...,A mediocre pulp novelist is approached by a st...,None,None,The Go-Betweens\r Three studio albums into the...
popularity,0.6,0.698,NaN,NaN,0.6
poster_path,/uVZiOccDAhDQULKukvRY0U8wlIw.jpg,/4vGtkyylemLzH2qScv9YIDiLhwh.jpg,None,None,None
production_companies,[],"[{'id': 94, 'logo_path': '/huC7HqorvUThGIrENrb...",None,None,[]
production_countries,"[{'iso_3166_1': 'DE', 'name': 'Germany'}]","[{'iso_3166_1': 'FR', 'name': 'France'}]",None,None,[]
release_date,1991-06-07,2003-01-01,None,None,2005-11-26
revenue,0,0,NaN,NaN,0
runtime,82,103,NaN,NaN,0
spoken_languages,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]","[{'iso_639_1': 'fr', 'name': 'Français'}]",None,None,[]
status,Released,Released,None,None,Released
tagline,,,None,None,The Go-Betweens
title,From UFA to Hollywood: Douglas Sirk Remembers,A Place Among the Living,None,None,That Striped Sunlight Sound
video,0,0,NaN,NaN,0
vote_average,6,7.3,NaN,NaN,0
vote_count,1,2,NaN,NaN,0
credits,"{'cast': [{'cast_id': 2, 'character': '', 'cre...","{'cast': [{'cast_id': 1, 'character': 'Ernest ...",None,None,"{'cast': [], 'crew': []}"
reviews,"{'page': 1, 'results': [], 'total_pages': 0, '...","{'page': 1, 'results': [], 'total_pages': 0, '...",None,None,"{'page': 1, 'results': [], 'total_pages': 0, '..."

In [20]:
df_300k.tail()

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,credits,reviews
99995,0.0,None,None,0.0,[],None,299996.0,None,en,Athena,...,NaN,[],Released,,Athena,0.0,0.0,0.0,"{'cast': [], 'crew': []}","{'page': 1, 'results': [], 'total_pages': 0, '..."
99996,0.0,/2LWBbV66Dr1lmj36fQK9YzxfEyo.jpg,None,0.0,"[{'id': 35, 'name': 'Comedy'}]",,299997.0,None,en,Bill Santiago: Pardon My Spanglish,...,0.0,[],Released,,Bill Santiago: Pardon My Spanglish,0.0,0.0,0.0,"{'cast': [], 'crew': []}","{'page': 1, 'results': [], 'total_pages': 0, '..."
99997,0.0,/j0uiRKL1PRurutFtI0Gut8In2lj.jpg,None,100000.0,"[{'id': 18, 'name': 'Drama'}]",http://www.maverickentertainment.cc/movies/mov...,299998.0,tt2739792,en,Watch Phoenix Rise,...,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Fame Has Its Downsides,Watch Phoenix Rise,0.0,0.0,0.0,"{'cast': [{'cast_id': 0, 'character': 'Phoenix...","{'page': 1, 'results': [], 'total_pages': 0, '..."
99998,0.0,None,None,0.0,[],None,299999.0,tt3087026,en,What We Can't Have,...,NaN,[],Released,,What We Can't Have,0.0,0.0,0.0,"{'cast': [], 'crew': []}","{'page': 1, 'results': [], 'total_pages': 0, '..."
99999,0.0,None,None,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",None,300000.0,tt0091711,en,Overnight,...,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,Overnight,0.0,7.0,1.0,"{'cast': [{'cast_id': 0, 'character': 'Scott L...","{'page': 1, 'results': [], 'total_pages': 0, '..."

In [21]:
df = pd.DataFrame(get_movies(num=400000))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  87751 non-null  object
 1   backdrop_path          9189 non-null   object
 2   belongs_to_collection  1384 non-null   object
 3   budget                 87751 non-null  float64
 4   genres                 87751 non-null  object
 5   homepage               59405 non-null  object
 6   id                     87751 non-null  float64
 7   imdb_id                72977 non-null  object
 8   original_language      87751 non-null  object
 9   original_title         87751 non-null  object
 10  overview               87751 non-null  object
 11  popularity             87751 non-null  float64
 12  poster_path            25581 non-null  object
 13  production_companies   87751 non-null  object
 14  production_countries   87751 non-null  object
 15  release_date           87751 non-null  object
 16  revenue                87751 non-null  float64
 17  runtime                71104 non-null  float64
 18  spoken_languages       87751 non-null  object
 19  status                 87751 non-null  object
 20  tagline                87751 non-null  object
 21  title                  87751 non-null  object
 22  video                  87751 non-null  object
 23  vote_average           87751 non-null  float64
 24  vote_count             87751 non-null  float64
 25  credits                87751 non-null  object
 26  reviews                87751 non-null  object
dtypes: float64(7), object(20)
memory usage: 20.6+ MB

In [22]:
#df.to_json('tmdb_movies_400k.json')

In [23]:
df_400k = pd.read_json('tmdb_movies_400k.json')
df_400k.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  87751 non-null  float64
 1   backdrop_path          9189 non-null   object
 2   belongs_to_collection  1384 non-null   object
 3   budget                 87751 non-null  float64
 4   genres                 87751 non-null  object
 5   homepage               59405 non-null  object
 6   id                     87751 non-null  float64
 7   imdb_id                72977 non-null  object
 8   original_language      87751 non-null  object
 9   original_title         87751 non-null  object
 10  overview               87751 non-null  object
 11  popularity             87751 non-null  float64
 12  poster_path            25581 non-null  object
 13  production_companies   87751 non-null  object
 14  production_countries   87751 non-null  object
 15  release_date           87751 non-null  object
 16  revenue                87751 non-null  float64
 17  runtime                71104 non-null  float64
 18  spoken_languages       87751 non-null  object
 19  status                 87751 non-null  object
 20  tagline                87751 non-null  object
 21  title                  87751 non-null  object
 22  video                  87751 non-null  float64
 23  vote_average           87751 non-null  float64
 24  vote_count             87751 non-null  float64
 25  credits                87751 non-null  object
 26  reviews                87751 non-null  object
dtypes: float64(9), object(18)
memory usage: 21.4+ MB

In [24]:
df_400k.head().transpose()

,0,1,2,3,4
adult,0,NaN,0,0,0
backdrop_path,None,None,None,None,None
belongs_to_collection,None,None,None,None,None
budget,0,NaN,0,0,0
genres,[],None,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",[],[]
homepage,None,None,,None,None
id,300001,NaN,300003,300004,300005
imdb_id,,None,tt3066658,tt2750628,None
original_language,en,None,en,en,en
original_title,Blackhawk: Greatest Hits Live,None,Wild Justice,What Is New Thought?,Born this Way
overview,A spectacular multimedia concert experience fr...,None,An ex-military man Daniel Wilson and his wife ...,From the self-help industry to Alcoholics Anon...,"Frost, teen girl on the outside of the ""cool"" ..."
popularity,0.6,NaN,0.6,0.6,0.6
poster_path,None,None,None,None,None
production_companies,[],None,[],[],[]
production_countries,[],None,[],[],[]
release_date,2010-01-01,None,2014-06-27,2014-03-11,2014-01-01
revenue,0,NaN,0,0,0
runtime,51,NaN,84,NaN,NaN
spoken_languages,[],None,"[{'iso_639_1': 'en', 'name': 'English'}]",[],[]
status,Released,None,Released,Released,Released
tagline,,None,,,
title,Blackhawk: Greatest Hits Live,None,Wild Justice,What Is New Thought?,Born this Way
video,1,NaN,0,0,0
vote_average,0,NaN,0,0,0
vote_count,0,NaN,0,0,0
credits,"{'cast': [], 'crew': []}",None,"{'cast': [], 'crew': []}","{'cast': [], 'crew': []}","{'cast': [], 'crew': []}"
reviews,"{'page': 1, 'results': [], 'total_pages': 0, '...",None,"{'page': 1, 'results': [], 'total_pages': 0, '...","{'page': 1, 'results': [], 'total_pages': 0, '...","{'page': 1, 'results': [], 'total_pages': 0, '..."

In [25]:
df_400k.tail()

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,credits,reviews
99995,NaN,None,None,NaN,None,None,NaN,None,None,None,...,NaN,None,None,None,None,NaN,NaN,NaN,None,None
99996,0.0,None,None,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",,399997.0,tt5530520,en,Kate & Lily,...,15.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,Kate & Lily,0.0,0.0,0.0,"{'cast': [{'cast_id': 3, 'character': 'Kate', ...","{'page': 1, 'results': [], 'total_pages': 0, '..."
99997,0.0,None,None,0.0,"[{'id': 10751, 'name': 'Family'}]",,399998.0,tt0763361,en,Mauro the Gypsy,...,57.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,Mauro the Gypsy,0.0,0.0,0.0,"{'cast': [{'cast_id': 1, 'character': '', 'cre...","{'page': 1, 'results': [], 'total_pages': 0, '..."
99998,0.0,/lWk7kaz6iFYYfWiSAHxcVPOvS2Z.jpg,None,0.0,[],,399999.0,None,en,The Mine and the Minotaur,...,59.0,[],Released,,The Mine and the Minotaur,0.0,0.0,0.0,"{'cast': [{'cast_id': 0, 'character': '', 'cre...","{'page': 1, 'results': [], 'total_pages': 0, '..."
99999,0.0,None,None,0.0,"[{'id': 10751, 'name': 'Family'}]",,400000.0,tt0247526,en,Mischief,...,57.0,[],Released,,Mischief,0.0,0.0,0.0,"{'cast': [{'cast_id': 0, 'character': '', 'cre...","{'page': 1, 'results': [], 'total_pages': 0, '..."

In [26]:
df = pd.DataFrame(get_movies(num=500000))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  85963 non-null  object
 1   backdrop_path          18199 non-null  object
 2   belongs_to_collection  1312 non-null   object
 3   budget                 85963 non-null  float64
 4   genres                 85963 non-null  object
 5   homepage               39202 non-null  object
 6   id                     85963 non-null  float64
 7   imdb_id                65495 non-null  object
 8   original_language      85963 non-null  object
 9   original_title         85963 non-null  object
 10  overview               85963 non-null  object
 11  popularity             85963 non-null  float64
 12  poster_path            49978 non-null  object
 13  production_companies   85963 non-null  object
 14  production_countries   85963 non-null  object
 15  release_date           85963 non-null  object
 16  revenue                85963 non-null  float64
 17  runtime                72032 non-null  float64
 18  spoken_languages       85963 non-null  object
 19  status                 85963 non-null  object
 20  tagline                85963 non-null  object
 21  title                  85963 non-null  object
 22  video                  85963 non-null  object
 23  vote_average           85963 non-null  float64
 24  vote_count             85963 non-null  float64
 25  credits                85963 non-null  object
 26  reviews                85963 non-null  object
dtypes: float64(7), object(20)
memory usage: 20.6+ MB

In [27]:
#df.to_json('tmdb_movies_500k.json')

In [28]:
df_500k = pd.read_json('tmdb_movies_500k.json')
df_500k.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  85963 non-null  float64
 1   backdrop_path          18199 non-null  object
 2   belongs_to_collection  1312 non-null   object
 3   budget                 85963 non-null  float64
 4   genres                 85963 non-null  object
 5   homepage               39202 non-null  object
 6   id                     85963 non-null  float64
 7   imdb_id                65495 non-null  object
 8   original_language      85963 non-null  object
 9   original_title         85963 non-null  object
 10  overview               85963 non-null  object
 11  popularity             85963 non-null  float64
 12  poster_path            49978 non-null  object
 13  production_companies   85963 non-null  object
 14  production_countries   85963 non-null  object
 15  release_date           85963 non-null  object
 16  revenue                85963 non-null  float64
 17  runtime                72032 non-null  float64
 18  spoken_languages       85963 non-null  object
 19  status                 85963 non-null  object
 20  tagline                85963 non-null  object
 21  title                  85963 non-null  object
 22  video                  85963 non-null  float64
 23  vote_average           85963 non-null  float64
 24  vote_count             85963 non-null  float64
 25  credits                85963 non-null  object
 26  reviews                85963 non-null  object
dtypes: float64(9), object(18)
memory usage: 21.4+ MB

In [29]:
df_500k.head().transpose()

,0,1,2,3,4
adult,0,NaN,NaN,NaN,NaN
backdrop_path,None,None,None,None,None
belongs_to_collection,None,None,None,None,None
budget,0,NaN,NaN,NaN,NaN
genres,"[{'id': 10749, 'name': 'Romance'}]",None,None,None,None
homepage,http://sic.conaculta.gob.mx/ficha.php?table=pr...,None,None,None,None
id,400001,NaN,NaN,NaN,NaN
imdb_id,tt4145318,None,None,None,None
original_language,es,None,None,None,None
original_title,Trémulo,None,None,None,None
overview,Carlos sweeps and mops the floor of an old-tim...,None,None,None,None
popularity,2.166,NaN,NaN,NaN,NaN
poster_path,None,None,None,None,None
production_companies,"[{'id': 299, 'logo_path': '/elssmtHcogGtF8Gxok...",None,None,None,None
production_countries,"[{'iso_3166_1': 'MX', 'name': 'Mexico'}]",None,None,None,None
release_date,2015-03-08,None,None,None,None
revenue,0,NaN,NaN,NaN,NaN
runtime,20,NaN,NaN,NaN,NaN
spoken_languages,"[{'iso_639_1': 'es', 'name': 'Español'}]",None,None,None,None
status,Released,None,None,None,None
tagline,,None,None,None,None
title,Trémulo,None,None,None,None
video,0,NaN,NaN,NaN,NaN
vote_average,7.3,NaN,NaN,NaN,NaN
vote_count,20,NaN,NaN,NaN,NaN
credits,"{'cast': [{'cast_id': 24, 'character': 'Carlos...",None,None,None,None
reviews,"{'page': 1, 'results': [], 'total_pages': 0, '...",None,None,None,None

In [30]:
df_500k.tail()

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,credits,reviews
99995,0.0,None,None,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 28, 'nam...",None,499996.0,tt2091247,tl,Bornebol: Special Agent,...,NaN,"[{'iso_639_1': 'tl', 'name': ''}]",Released,,Bornebol: Special Agent,0.0,0.0,0.0,"{'cast': [{'cast_id': 0, 'character': '', 'cre...","{'page': 1, 'results': [], 'total_pages': 0, '..."
99996,0.0,None,None,0.0,"[{'id': 28, 'name': 'Action'}]",http://rwblog.id,499997.0,None,id,21 Petang Berdarah,...,37.0,"[{'iso_639_1': 'id', 'name': 'Bahasa indonesia'}]",Released,,21 Blood Night,0.0,0.0,0.0,"{'cast': [{'cast_id': 0, 'character': '', 'cre...","{'page': 1, 'results': [], 'total_pages': 0, '..."
99997,0.0,None,None,0.0,"[{'id': 10770, 'name': 'TV Movie'}]",None,499998.0,tt0115982,en,Crossing the Floor,...,70.0,[],Released,,Crossing the Floor,0.0,6.7,3.0,"{'cast': [{'cast_id': 0, 'character': 'David H...","{'page': 1, 'results': [], 'total_pages': 0, '..."
99998,0.0,None,None,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",None,499999.0,None,id,Bombe',...,92.0,"[{'iso_639_1': 'id', 'name': 'Bahasa indonesia'}]",Released,,Bombe',0.0,0.0,0.0,"{'cast': [{'cast_id': 0, 'character': '', 'cre...","{'page': 1, 'results': [], 'total_pages': 0, '..."
99999,0.0,None,None,0.0,"[{'id': 18, 'name': 'Drama'}]",None,500000.0,None,id,Bombe’ 2: Dumba’-Dumba’,...,90.0,"[{'iso_639_1': 'id', 'name': 'Bahasa indonesia'}]",Released,,Bombe’ 2: Dumba’-Dumba’,0.0,0.0,0.0,"{'cast': [{'cast_id': 3, 'character': '', 'cre...","{'page': 1, 'results': [], 'total_pages': 0, '..."

In [31]:
df = pd.DataFrame(get_movies(num=600000))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  88747 non-null  object
 1   backdrop_path          20530 non-null  object
 2   belongs_to_collection  709 non-null    object
 3   budget                 88747 non-null  float64
 4   genres                 88747 non-null  object
 5   homepage               19565 non-null  object
 6   id                     88747 non-null  float64
 7   imdb_id                53314 non-null  object
 8   original_language      88747 non-null  object
 9   original_title         88747 non-null  object
 10  overview               88747 non-null  object
 11  popularity             88747 non-null  float64
 12  poster_path            66597 non-null  object
 13  production_companies   88747 non-null  object
 14  production_countries   88747 non-null  object
 15  release_date           88747 non-null  object
 16  revenue                88747 non-null  float64
 17  runtime                65042 non-null  float64
 18  spoken_languages       88747 non-null  object
 19  status                 88747 non-null  object
 20  tagline                88747 non-null  object
 21  title                  88747 non-null  object
 22  video                  88747 non-null  object
 23  vote_average           88747 non-null  float64
 24  vote_count             88747 non-null  float64
 25  credits                88747 non-null  object
 26  reviews                88747 non-null  object
dtypes: float64(7), object(20)
memory usage: 20.6+ MB

In [32]:
#df.to_json('tmdb_movies_600k.json')

In [33]:
df_600k = pd.read_json('tmdb_movies_600k.json')
df_600k.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  88747 non-null  float64
 1   backdrop_path          20530 non-null  object
 2   belongs_to_collection  709 non-null    object
 3   budget                 88747 non-null  float64
 4   genres                 88747 non-null  object
 5   homepage               19565 non-null  object
 6   id                     88747 non-null  float64
 7   imdb_id                53314 non-null  object
 8   original_language      88747 non-null  object
 9   original_title         88747 non-null  object
 10  overview               88747 non-null  object
 11  popularity             88747 non-null  float64
 12  poster_path            66597 non-null  object
 13  production_companies   88747 non-null  object
 14  production_countries   88747 non-null  object
 15  release_date           88747 non-null  object
 16  revenue                88747 non-null  float64
 17  runtime                65042 non-null  float64
 18  spoken_languages       88747 non-null  object
 19  status                 88747 non-null  object
 20  tagline                88747 non-null  object
 21  title                  88747 non-null  object
 22  video                  88747 non-null  float64
 23  vote_average           88747 non-null  float64
 24  vote_count             88747 non-null  float64
 25  credits                88747 non-null  object
 26  reviews                88747 non-null  object
dtypes: float64(9), object(18)
memory usage: 21.4+ MB

In [34]:
df_600k.head().transpose()

,0,1,2,3,4
adult,NaN,NaN,0,0,0
backdrop_path,None,None,/j1gLGTZx9Jy8TDJpR250IAwp3Gg.jpg,/9kg7HWZcBvvxf0b7duGVBsaPCyn.jpg,None
belongs_to_collection,None,None,None,None,None
budget,NaN,NaN,0,0,0
genres,None,None,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",[],"[{'id': 99, 'name': 'Documentary'}]"
homepage,None,None,https://www.cinemand.co/,,None
id,NaN,NaN,500003,500004,500005
imdb_id,None,None,tt7422552,tt5522416,tt6507448
original_language,None,None,en,tr,it
original_title,None,None,Funny Story,Emicem Hospital,Io sono Valentina Nappi
overview,None,None,A tragic comedy about a well-intentioned fathe...,Selo has been working as a caretaker at the Pr...,
popularity,NaN,NaN,4.203,0.6,1.227
poster_path,None,None,/lThumuZPAop9ztKxOiJ4FmDxjsQ.jpg,/rxZd1AC3OAMWAxwouKO5P136GQ3.jpg,/pFjZGfHmSS60auUhTUttAuvEz7.jpg
production_companies,None,None,"[{'id': 88931, 'logo_path': None, 'name': 'Cin...",[],[]
production_countries,None,None,"[{'iso_3166_1': 'US', 'name': 'United States o...",[],[]
release_date,None,None,2018-01-21,2016-03-25,2018-01-01
revenue,NaN,NaN,0,0,0
runtime,NaN,NaN,84,92,NaN
spoken_languages,None,None,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'tr', 'name': 'Türkçe'}]",[]
status,None,None,Released,Released,Released
tagline,None,None,,comedy,
title,None,None,Funny Story,Emicem Hospital,Io sono Valentina Nappi
video,NaN,NaN,0,0,0
vote_average,NaN,NaN,6.6,0,5.5
vote_count,NaN,NaN,11,0,2
credits,None,None,"{'cast': [{'cast_id': 0, 'character': 'Waiter'...","{'cast': [], 'crew': []}","{'cast': [{'cast_id': 0, 'character': '', 'cre..."
reviews,None,None,"{'page': 1, 'results': [], 'total_pages': 0, '...","{'page': 1, 'results': [], 'total_pages': 0, '...","{'page': 1, 'results': [], 'total_pages': 0, '..."

In [35]:
df_600k.tail()

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,credits,reviews
99995,0.0,None,None,0.0,[],http://prudefilm.com/,599996.0,None,en,Prude,...,10.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,Prude,0.0,0.0,0.0,"{'cast': [{'cast_id': 4, 'character': 'Violet'...","{'page': 1, 'results': [], 'total_pages': 0, '..."
99996,0.0,None,None,0.0,[],None,599997.0,None,en,Σουτζουκάκια,...,15.0,"[{'iso_639_1': 'el', 'name': 'ελληνικά'}]",Released,,Meatballs,0.0,0.0,0.0,"{'cast': [{'cast_id': 1, 'character': '', 'cre...","{'page': 1, 'results': [], 'total_pages': 0, '..."
99997,0.0,None,None,0.0,[],None,599998.0,None,zh,Block and Censor,...,65.0,[],Released,,Block and Censor,0.0,0.0,0.0,"{'cast': [], 'crew': [{'credit_id': '5ccde6b90...","{'page': 1, 'results': [], 'total_pages': 0, '..."
99998,0.0,/iBredN64vmai40N2cNv0FKKz7Fc.jpg,None,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",,599999.0,tt6198058,en,Into the Mirror,...,65.0,[],Released,,Into the Mirror,0.0,3.0,3.0,"{'cast': [{'cast_id': 2, 'character': 'Daniel'...","{'page': 1, 'results': [], 'total_pages': 0, '..."
99999,0.0,None,None,0.0,[],http://www.taliashealevin.com/eta,600000.0,None,en,E T A,...,5.0,[],Released,,E T A,0.0,0.0,0.0,"{'cast': [{'cast_id': 3, 'character': '', 'cre...","{'page': 1, 'results': [], 'total_pages': 0, '..."

In [36]:
df = pd.DataFrame(get_movies(num=700000))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  90827 non-null  object
 1   backdrop_path          16387 non-null  object
 2   belongs_to_collection  478 non-null    object
 3   budget                 90827 non-null  float64
 4   genres                 90827 non-null  object
 5   homepage               51683 non-null  object
 6   id                     90827 non-null  float64
 7   imdb_id                44196 non-null  object
 8   original_language      90827 non-null  object
 9   original_title         90827 non-null  object
 10  overview               90827 non-null  object
 11  popularity             90827 non-null  float64
 12  poster_path            62820 non-null  object
 13  production_companies   90827 non-null  object
 14  production_countries   90827 non-null  object
 15  release_date           90827 non-null  object
 16  revenue                90827 non-null  float64
 17  runtime                78177 non-null  float64
 18  spoken_languages       90827 non-null  object
 19  status                 90827 non-null  object
 20  tagline                90827 non-null  object
 21  title                  90827 non-null  object
 22  video                  90827 non-null  object
 23  vote_average           90827 non-null  float64
 24  vote_count             90827 non-null  float64
 25  credits                90827 non-null  object
 26  reviews                90827 non-null  object
dtypes: float64(7), object(20)
memory usage: 20.6+ MB

In [37]:
#df.to_json('tmdb_movies_700k.json')

In [38]:
df_700k = pd.read_json('tmdb_movies_700k.json')
df_700k.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  90827 non-null  float64
 1   backdrop_path          16387 non-null  object
 2   belongs_to_collection  478 non-null    object
 3   budget                 90827 non-null  float64
 4   genres                 90827 non-null  object
 5   homepage               51683 non-null  object
 6   id                     90827 non-null  float64
 7   imdb_id                44196 non-null  object
 8   original_language      90827 non-null  object
 9   original_title         90827 non-null  object
 10  overview               90827 non-null  object
 11  popularity             90827 non-null  float64
 12  poster_path            62820 non-null  object
 13  production_companies   90827 non-null  object
 14  production_countries   90827 non-null  object
 15  release_date           90827 non-null  object
 16  revenue                90827 non-null  float64
 17  runtime                78177 non-null  float64
 18  spoken_languages       90827 non-null  object
 19  status                 90827 non-null  object
 20  tagline                90827 non-null  object
 21  title                  90827 non-null  object
 22  video                  90827 non-null  float64
 23  vote_average           90827 non-null  float64
 24  vote_count             90827 non-null  float64
 25  credits                90827 non-null  object
 26  reviews                90827 non-null  object
dtypes: float64(9), object(18)
memory usage: 21.4+ MB

In [39]:
df_700k.head().transpose()

,0,1,2,3,4
adult,0,NaN,NaN,NaN,NaN
backdrop_path,None,None,None,None,None
belongs_to_collection,None,None,None,None,None
budget,0,NaN,NaN,NaN,NaN
genres,[],None,None,None,None
homepage,None,None,None,None,None
id,600001,NaN,NaN,NaN,NaN
imdb_id,tt2750132,None,None,None,None
original_language,de,None,None,None,None
original_title,Claire,None,None,None,None
overview,"On her first night in Berlin, a young woman ga...",None,None,None,None
popularity,0.6,NaN,NaN,NaN,NaN
poster_path,None,None,None,None,None
production_companies,[],None,None,None,None
production_countries,"[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is...",None,None,None,None
release_date,2014-04-18,None,None,None,None
revenue,0,NaN,NaN,NaN,NaN
runtime,14,NaN,NaN,NaN,NaN
spoken_languages,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",None,None,None,None
status,Released,None,None,None,None
tagline,,None,None,None,None
title,Claire,None,None,None,None
video,0,NaN,NaN,NaN,NaN
vote_average,0,NaN,NaN,NaN,NaN
vote_count,0,NaN,NaN,NaN,NaN
credits,"{'cast': [{'cast_id': 1, 'character': 'Claire'...",None,None,None,None
reviews,"{'page': 1, 'results': [], 'total_pages': 0, '...",None,None,None,None

In [40]:
df_700k.tail()

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,credits,reviews
99995,0.0,None,None,0.0,[],https://www.yesterway.org/,699996.0,None,en,Yesterway,...,107.0,[],Released,,Yesterway,0.0,0.0,0.0,"{'cast': [], 'crew': [{'credit_id': '5eaef39d0...","{'page': 1, 'results': [], 'total_pages': 0, '..."
99996,0.0,None,None,0.0,[],,699997.0,tt4420000,en,Kalopsia,...,12.0,[],Released,,Kalopsia,0.0,0.0,0.0,"{'cast': [{'cast_id': 1, 'character': 'Alice',...","{'page': 1, 'results': [], 'total_pages': 0, '..."
99997,0.0,None,None,0.0,[],,699998.0,tt11872724,es,Poderoso Victoria,...,0.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Post Production,,Mighty Victoria,0.0,0.0,0.0,"{'cast': [{'cast_id': 7, 'character': 'Don Fed...","{'page': 1, 'results': [], 'total_pages': 0, '..."
99998,0.0,None,None,0.0,[],,699999.0,tt0324364,fr,Is Dead - Portrait incomplet de Gertrude Stein,...,47.0,[],Released,,Is Dead - Portrait incomplet de Gertrude Stein,0.0,0.0,0.0,"{'cast': [{'cast_id': 1, 'character': '', 'cre...","{'page': 1, 'results': [], 'total_pages': 0, '..."
99999,0.0,None,None,0.0,[],,700000.0,None,fr,Degas et moi,...,20.0,[],Released,,Degas et moi,0.0,0.0,0.0,"{'cast': [{'cast_id': 2, 'character': '', 'cre...","{'page': 1, 'results': [], 'total_pages': 0, '..."

In [41]:
df = pd.DataFrame(get_movies(num=800000))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  1592 non-null   object
 1   backdrop_path          206 non-null    object
 2   belongs_to_collection  14 non-null     object
 3   budget                 1592 non-null   float64
 4   genres                 1592 non-null   object
 5   homepage               1592 non-null   object
 6   id                     1592 non-null   float64
 7   imdb_id                627 non-null    object
 8   original_language      1592 non-null   object
 9   original_title         1592 non-null   object
 10  overview               1592 non-null   object
 11  popularity             1592 non-null   float64
 12  poster_path            846 non-null    object
 13  production_companies   1592 non-null   object
 14  production_countries   1592 non-null   object
 15  release_date           1592 non-null   object
 16  revenue                1592 non-null   float64
 17  runtime                1592 non-null   float64
 18  spoken_languages       1592 non-null   object
 19  status                 1592 non-null   object
 20  tagline                1592 non-null   object
 21  title                  1592 non-null   object
 22  video                  1592 non-null   object
 23  vote_average           1592 non-null   float64
 24  vote_count             1592 non-null   float64
 25  credits                1592 non-null   object
 26  reviews                1591 non-null   object
dtypes: float64(7), object(20)
memory usage: 20.6+ MB

In [42]:
#df.to_json('tmdb_movies_800k.json')

In [43]:
df_800k = pd.read_json('tmdb_movies_800k.json')
df_800k.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  1592 non-null   float64
 1   backdrop_path          206 non-null    object
 2   belongs_to_collection  14 non-null     object
 3   budget                 1592 non-null   float64
 4   genres                 1592 non-null   object
 5   homepage               1592 non-null   object
 6   id                     1592 non-null   float64
 7   imdb_id                627 non-null    object
 8   original_language      1592 non-null   object
 9   original_title         1592 non-null   object
 10  overview               1592 non-null   object
 11  popularity             1592 non-null   float64
 12  poster_path            846 non-null    object
 13  production_companies   1592 non-null   object
 14  production_countries   1592 non-null   object
 15  release_date           1592 non-null   object
 16  revenue                1592 non-null   float64
 17  runtime                1592 non-null   float64
 18  spoken_languages       1592 non-null   object
 19  status                 1592 non-null   object
 20  tagline                1592 non-null   object
 21  title                  1592 non-null   object
 22  video                  1592 non-null   float64
 23  vote_average           1592 non-null   float64
 24  vote_count             1592 non-null   float64
 25  credits                1592 non-null   object
 26  reviews                1591 non-null   object
dtypes: float64(9), object(18)
memory usage: 21.4+ MB

In [44]:
df_800k.head().transpose()

,0,1,2,3,4
adult,0,0,0,NaN,0
backdrop_path,None,None,None,None,None
belongs_to_collection,None,None,None,None,None
budget,0,0,0,NaN,0
genres,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",[],"[{'id': 35, 'name': 'Comedy'}, {'id': 12, 'nam...",None,"[{'id': 99, 'name': 'Documentary'}]"
homepage,,,,None,
id,700001,700002,700003,NaN,700005
imdb_id,tt0279235,None,None,None,None
original_language,cs,es,en,None,en
original_title,Mnichovo srdce,Chancho en Piedra - Chancho 6,Who Stole My Sofa?,None,Birds of a Feather
overview,,,Ashens looses his sofa and is on a quest to ge...,None,"In Birds of a Feather, Nora Sweeney creates a ..."
popularity,0.6,0.6,0.6,NaN,4.212
poster_path,None,/4JlyHIfimGnc3v5rHXuliIUPqgW.jpg,/7RE9w3jUfUnbZGkIKdj8tEU9nyY.jpg,None,/zC1V0rGSCIWRxNuRUdopDJmqtBi.jpg
production_companies,"[{'id': 133230, 'logo_path': None, 'name': 'Th...",[],[],None,[]
production_countries,"[{'iso_3166_1': 'XC', 'name': 'Czechoslovakia'}]",[],[],None,"[{'iso_3166_1': 'US', 'name': 'United States o..."
release_date,1921-09-16,,2014-08-14,None,2020-05-03
revenue,0,0,0,NaN,0
runtime,0,0,27,NaN,19
spoken_languages,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",[],[],None,"[{'iso_639_1': 'hy', 'name': ''}]"
status,Released,Released,Released,None,Released
tagline,,,,None,
title,Mnichovo srdce,Chancho en Piedra - Chancho 6,Who Stole My Sofa?,None,Birds of a Feather
video,0,1,0,NaN,0
vote_average,0,0,0,NaN,0
vote_count,0,0,0,NaN,0
credits,"{'cast': [{'cast_id': 1, 'character': '', 'cre...","{'cast': [], 'crew': []}","{'cast': [{'cast_id': 1, 'character': 'Himself...",None,"{'cast': [], 'crew': [{'credit_id': '5eaef93b0..."
reviews,"{'page': 1, 'results': [], 'total_pages': 0, '...","{'page': 1, 'results': [], 'total_pages': 0, '...","{'page': 1, 'results': [], 'total_pages': 0, '...",None,"{'page': 1, 'results': [], 'total_pages': 0, '..."

In [45]:
df_800k.tail()

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,credits,reviews
99995,NaN,None,None,NaN,None,None,NaN,None,None,None,...,NaN,None,None,None,None,NaN,NaN,NaN,None,None
99996,NaN,None,None,NaN,None,None,NaN,None,None,None,...,NaN,None,None,None,None,NaN,NaN,NaN,None,None
99997,NaN,None,None,NaN,None,None,NaN,None,None,None,...,NaN,None,None,None,None,NaN,NaN,NaN,None,None
99998,NaN,None,None,NaN,None,None,NaN,None,None,None,...,NaN,None,None,None,None,NaN,NaN,NaN,None,None
99999,NaN,None,None,NaN,None,None,NaN,None,None,None,...,NaN,None,None,None,None,NaN,NaN,NaN,None,None

In [46]:
raise SystemExit("Stop right there!")

SystemExit: Stop right there!

/home/lord_black/anaconda3/envs/movieCap1/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3339: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [ ]:
# latest = 701125